<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href='http://fonts.googleapis.com/css?family=Average+Sans|Contrail+One|Salsa|Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='/stylesheets/common.css'/>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/script.js"></script>
	<script type="text/javascript" src="http://team-ninja.2013.nodeknockout.com/socket.io/socket.io.js"></script>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1></h1>
			<span class="button">Login</span>
		</div>
		<div id="content">
			<div id="landing-action">
				<div class="logo"></div>
				<div class="action">
					<input id="initGame" type="button" class="landing-button start" value="Start a game">
					<input id="joinAGame" type="button" class="landing-button join" value="Join a game">
				</div>
			</div>
		</div>

        <div id="gameInitPopup">
            <h3> Just a moment before you start...</h3>
            <input type="text" placeholder="Enter your name"/>
            <input id="startAGame" type="button" class="landing-button start" value="Start a game">
        </div>
		<div id="footer">
			
		</div>
	</div>
</body>
</html>