<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </head>
  <body>

  <p><iframe src="http://nodeknockout.com/iframe/team-ninja" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe></p>


  <button id="startAGame" href="#">Start Game</button>
  <button id="joinAGame" href="#">Join Game</button>
  </body>
</html>