<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href='http://fonts.googleapis.com/css?family=Average+Sans|Contrail+One|Salsa|Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='/stylesheets/common.css'/>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/script.js"></script>
	<script type="text/javascript" src="http://team-ninja.2013.nodeknockout.com/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/holla.min.js"></script>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1></h1>
			<span class="button">Login</span>
			<iframe src="http://nodeknockout.com/iframe/team-ninja" frameborder="0" scrolling="no" allowtransparency="true" width="115" height="25"></iframe>
		</div>
		<div id="content">
			<div id="landing-action">
				<div class="logo"></div>
				<div class="action">
					<input id="initGame" type="button" class="landing-button start" value="Start a game">
					<input id="joinAGame" type="button" class="landing-button join" value="Join a game">
				</div>
			</div>
		</div>

		<div id="gameInitPopupContainer" style="display: none;">
			<div id="gameInitPopup">
				<h3> Just a moment before you start...</h3>
				<input id="gameInitNameField" class="text" type="text" placeholder="Enter your name"/><br>
				<input id="gameSubmit" type="button" class="button simple-green" value="Start the game">
				<input id="cancelGameSubmit" type="button" class="button simple-red" value="Cancel">
			</div>
			<div id="waitingForUsersPopup" style="display: none;">
				<div class="info">
					<h3>Share this key to invite people ..</h3>
					<input id="gameTokenField" class="text" type="text" readonly="true"/><br>
					<p>Waiting for people to join your room</p>
				</div>
				<div class="inviteBySms">
					<h3>Invite people by SMS</h3>
					<input id="phoneNumber" class="text" type="phone" placeholder="Enter phone number"/><br>
					<input id="inviteButton" type="button" class="button simple-green ar" value="Invite">
				</div>
				<br>
				<div class="inviteLoader"><img src="/images/ajax-loader-2.gif" alt="Loading"></div>
			</div>
		</div>

		<div id="gameJoinPopupContainer" style="display: none;">
			<div id="gameJoinPopup">
				<h3> Just a moment before you start...</h3>
				<input id="gameJoinNameField" class="text" type="text" placeholder="Enter your name"/><br>
				<input id="gameJoinTokenField" class="text" type="text" placeholder="Enter game token"/><br>
				<input id="gameJoinSubmit" type="button" class="button simple-green" value="Join room">
				<input id="cancelJoinGameSubmit" type="button" class="button simple-red" value="Cancel">
			</div>
		</div>
		<div id="gamePageWrapper">
		   <div id="online-users">
				<span class="sep"></span>
				<div class="user">
					<div class="info">Manoj Nama</div>
					<div class="add">+</div>
				</div>
				<div class="user">
					<div class="info">Suroor</div>
					<div class="add">+</div>
				</div>
				<div class="user">
					<div class="info">Sakshi</div>
					<div class="add">+</div>
				</div>
				<div class="user">
					<div class="info">Shreyance</div>
					<div class="add">+</div>
				</div>
				<div class="user">
					<div class="info">Kushal</div>
					<div class="add">+</div>
				</div>
			</div>
			<div id="game-container">
				<video src="" id="video1"></video>
				<video src="" id="video2"></video>
				<video src="" id="video3"></video>
				<video src="" id="video4"></video>
				<video src="" id="videoMe"></video>
			</div>
		</div>
		<div id="footer">
		</div>
	</div>
</body>
</html>