/* >>> CSS RESET <<<--------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center, ul,li,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    vertical-align: baseline;
    background: transparent;
}
a{ text-decoration:none; }

/* >>> TYPOGRAPHY <<<--------------------------- */
body {
	font-family: 'Average Sans', sans-serif;
}
iframe {
	float: right;
	margin-top: 30px;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
}

/* >>> COMMON <<<--------------------------- */
body {
	background-color: #222;
}
h1 {
	color: #fff;
}
video {
    height: 180px;
    width: 200px;
}

/* >>> IDs <<<--------------------------- */
#container {
	width: 1200px;
	margin: 0 auto;
}
#header {
	padding: 10px 0;
	overflow: hidden;
}
#header h1 {
	float: left;
	width: 131px;
	margin-top: 35px;
	background: url('../images/logo.png') no-repeat;
	display: inline-block;
	height: 18px;
}
#header .button {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	transition: all .3s;
	float: right;
	min-width: 100px;
	text-align: center;
	background-color: #111;
	color: #555;
	padding: 10px 15px;
	cursor: pointer;
	display: inline-block;
}
#header .button:hover {
	background-color: #9f2c38;
	color: #fff;
}
#online-users {
	overflow: hidden;
}
#online-users span.sep {
	display: inline-block;
	float: left;
	height: 100px;
	width: 40px;
	background-color: #111;
	color: #555;
}
#online-users .user {
	overflow: hidden;
	width: 100px;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
	float: left;
	height: 100px;
	margin-left: 10px;
	background-color: #c49839;
}
#online-users .user .info {
	position: relative;
	color: #333;
	text-align: center;
	top: 75px;
	left: 0;
	transition: top .3s;
	width: 100%;
}
#online-users .user .add {
	position: relative;
	transition: top .3s;
	padding: 10px;
	line-height: 31px;
	color: #333;
	text-align: center;
	top: 77px;
	background-color: #b77d00;
	font-size: 80px; 
}
#online-users .user:hover .info, #online-users .user:hover .add {
	top: 25px;
}
#game-container {
	margin-top: 50px; overflow: hidden; min-height: 800px;
	background: url('../images/center-table-flat.png') no-repeat 230px center;
}
#video1, #video2, #video3, #video4, #videoMe{
	position: relative;
	background-color: #111;	
	width: 200px;
	height: 180px;
}
#video1 {left: 325px;}
#video2 { left: -200px; top: 280px; }
#video3 { left: 250px; top: 280px; }
#video4 { left: -50px; top: 610px; }
#videoMe { left: -700px; top: 610px;  }

#landing-action {
	padding: 10px;
	min-height: 500px;
	background-color: #111;
	text-align: center;
}
#landing-action .logo {
	margin: 0 auto;
	width: 820px;
	height: 300px;
	background: url('../images/landing-logo.png') no-repeat center center;
}
#footer {
	padding: 10px;
	margin-top: 20px;
	background: url('../images/collab-logos.png') no-repeat center center;
	height: 30px;
}

#gameInitPopupContainer, #gameJoinPopupContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	background-color: rgba(0,0,0,0.5);
	transition: background .8s;
}
#gameInitPopup, #gameJoinPopup {
	position: fixed;
	padding: 10px;
	text-align: center;
	width: 500px;
	min-height: 250px;
	background-color: #fff;
	left: 0px; right: 0px; top: 110px;
	margin: auto;
	box-shadow: 0px 5px 40px rgba(0,0,0,0.8);
}
#waitingForUsersPopup {
	position: fixed;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	width: 850px;
	min-height: 250px;
	background-color: #fff;
	left: 0px; right: 0px; top: 110px;
	margin: auto;
	box-shadow: 0px 5px 40px rgba(0,0,0,0.8);
}
#waitingForUsersPopup .info {
	width: 400px;
	float: left;
}
#waitingForUsersPopup .inviteBySms {
	width: 400px;
	padding-left: 10px;
	float: right;
}
#waitingForUsersPopup .inviteLoader { position: relative; top: -125px; left: 205px; display: inline-block;}
#gameInitPopup h3, #gameJoinPopup h3, #waitingForUsersPopup h3 { 
	font-family: 'Oswald', sans-serif; 
	font-size: 22px; margin: 15px 0; 
}
#waitingForUsersPopup p {
	font-size: 22px; margin: 15px 0;
	color: #9f2c38;
	font-family: 'Oswald', sans-serif;
}
#gameTokenField {
	background-color: #fff;
	color: #333;
	border: 2px solid #6c9c5c;
}
#inviteButton {
	float: right;
	margin-right: 30px;
}

/* >>> CLASSES <<<--------------------------- */
.al { text-align: left;}
.ar { text-align: right;}
.green { color: #6c9c5c;}
.red { color: #9f2c38;}
.landing-button {
	outline: none;
	padding: 20px 0px;
	width: 380px;
	text-align: center;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	border: 0px;
	margin: 15px;
	color: #ddd;
	font-size: 36px;
	transition: color .3s, background .8s;
}
.button {
	outline: none;
	padding: 10px 20px;
	text-align: center;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	border: 0px;
	margin: 15px;
	color: #ddd;
	font-size: 24px;
	transition: color .3s, background .5s;
}
.start { background-color: #6c9c5c; }
.start:hover { background-color: #fff; color: #333; }
.join { background-color: #9f2c38; }
.join:hover { background-color: #fff; color: #333; }
.simple-green { background-color: #6c9c5c;}
.simple-red { background-color: #9f2c38;}
.simple-red:hover, .simple-green:hover {background-color: #333; color: #fff; }

.text {
	outline: none;
	width: 320px;
	padding: 10px;
	font-size: 24px;
	margin: 10px;
	color: #333;
	background-color: #ddd;
	border: 2px solid #bbb;
	transition: border .5s;
}
.text:focus {
	background-color: #fff;
	border-color: #6c9c5c;
}