/* >>> CSS RESET <<<--------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center, ul,li,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    vertical-align: baseline;
    background: transparent;
}
a{ text-decoration:none; }

/* >>> TYPOGRAPHY <<<--------------------------- */
body {
	font-family: 'Average Sans', sans-serif;
}
iframe {
	float: right;
	margin-top: 30px;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
}

/* >>> COMMON <<<--------------------------- */
body {
	background-color: #222;
}
h1 {
	color: #fff;
}
h3 { font-family: "Oswald", sans-serif; color: #fff;}
/* >>> IDs <<<--------------------------- */
#container {
	width: 1200px;
	margin: 0 auto;
}
#header {
	padding: 10px 0;
	overflow: hidden;
}
#header h1 {
	float: left;
	width: 131px;
	margin-top: 35px;
	background: url('../images/logo.png') no-repeat;
	display: inline-block;
	height: 18px;
}
#header .button {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	transition: all .3s;
	float: right;
	min-width: 100px;
	text-align: center;
	background-color: #111;
	color: #555;
	padding: 10px 15px;
	cursor: pointer;
	display: inline-block;
}
#header .button:hover {
	background-color: #9f2c38;
	color: #fff;
}
#online-users {
	overflow: hidden;
}
#online-users span.sep {
	display: inline-block;
	float: left;
	height: 100px;
	width: 40px;
	background-color: #111;
	color: #555;
}
#online-users .user {
	overflow: hidden;
	width: 100px;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
	float: left;
	height: 100px;
	margin-left: 10px;
	background-color: #c49839;
}
#online-users .user .info {
	position: relative;
	color: #333;
	text-align: center;
	top: 75px;
	left: 0;
	transition: top .3s;
	width: 100%;
}
#online-users .user .add {
	position: relative;
	transition: top .3s;
	padding: 10px;
	line-height: 31px;
	color: #333;
	text-align: center;
	top: 77px;
	background-color: #b77d00;
	font-size: 80px; 
}
#online-users .user:hover .info, #online-users .user:hover .add {
	top: 25px;
}
#game-container {
	position: relative;
	margin-top: 50px; overflow: hidden; min-height: 1200px;
	background: url('../images/center-table-flat.png') no-repeat 230px center;
}
video {
	background-color: #111;	
	width: 200px;
	height: 180px;
}

#game-container div { 
	width: 150px; 
	box-sizing: border-box;
	padding: 20px;
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	font-size: 22px;
	height: 80px;
	background-color: #c49839; 
	color: #222;
	text-align: center;
	position: absolute;
}
#game-container div:nth-child(2)  { left: 350px; top: 280px; }
#game-container div:nth-child(3)  { left: 650px; top: 450px; }
#game-container div:nth-child(4)  { left: 600px; top: 750px; }
#game-container div:nth-child(5)  { left: 120px; top: 750px; }
#game-container div:nth-child(6)  { left: 70px; top: 450px;}

#game-container div.active {
	box-shadow: 0px 0px 50px #ff0;
}

#landing-action {
	padding: 10px;
	min-height: 500px;
	background-color: #111;
	text-align: center;
}
#landing-action .logo {
	margin: 0 auto;
	width: 820px;
	height: 300px;
	background: url('../images/landing-logo-alt.png') no-repeat center center;
}
#footer {
	padding: 10px;
	margin-top: 20px;
	background: url('../images/collab-logos.png') no-repeat center center;
	height: 30px;
}

#gameInitPopupContainer, #gameJoinPopupContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	background-color: rgba(0,0,0,0.5);
	transition: background .8s;
}
#gameInitPopup, #gameJoinPopup {
	position: fixed;
	padding: 10px;
	text-align: center;
	width: 500px;
	min-height: 250px;
	background-color: #fff;
	left: 0px; right: 0px; top: 110px;
	margin: auto;
	box-shadow: 0px 5px 40px rgba(0,0,0,0.8);
}
#waitingForUsersPopup {
	position: fixed;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	width: 850px;
	min-height: 250px;
	background-color: #fff;
	left: 0px; right: 0px; top: 110px;
	margin: auto;
	box-shadow: 0px 5px 40px rgba(0,0,0,0.8);
}
#waitingForUsersPopup .info {
	width: 400px;
	float: left;
}
#waitingForUsersPopup .inviteBySms {
	width: 400px;
	padding-left: 10px;
	float: right;
}
#waitingForUsersPopup .inviteLoader { position: relative; top: -125px; left: 205px; display: inline-block;}
#gameInitPopup h3, #gameJoinPopup h3, #waitingForUsersPopup h3 { 
	font-family: 'Oswald', sans-serif; 
	font-size: 22px; margin: 15px 0; 
}
#waitingForUsersPopup p {
	font-size: 22px; margin: 15px 0;
	color: #9f2c38;
	font-family: 'Oswald', sans-serif;
}
#gameTokenField {
	background-color: #fff;
	color: #333;
	border: 2px solid #6c9c5c;
}
#inviteButton {
	float: right;
	margin-right: 30px;
}
#bottle {
	position: relative;
	cursor: pointer;
	background: url("../images/bottle.png") no-repeat center center;
	width: 92px; height: 300px;
	top: -750px; left: 380px;

	-webkit-transition-duration: 3s;
    -moz-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow:hidden;
}

#chatWindow {
	float: right;
	width: 300px;
	max-height: 600px;
	overflow: hidden;
}
#chatWindow .action {
	position: relative;
	bottom: 0px;
}
#chatWindow .action input{
	font-family: "Oswald", sans-serif;
	padding: 10px;
	width: 100%;
	height: 30px;
	font-size: 22px;
	background-color: #333;
	color: #555;
	border: 0px;
	outline: none;
}
#chatWindow .messages { 
	border: 1px solid #111; 
	max-height: 440px;
	min-height: 440px;
	overflow-y: auto;
}
#chatWindow .message {
	padding: 10px; 
	border-bottom: 1px solid #111;
	overflow: auto;
}
#chatWindow .message img {float: left; width: 50px; height: 50px;}
#chatWindow .message.me img {float: right;}
#chatWindow .message p {
	display: block;
	float: left;
	color: #555;
	margin-left: 5px;
}
#chatWindow .message.me p {float: right;  margin-right: 5px;}
#chatWindow .message span {
	margin-left: 5px;
	float: left;
	font-weight: bold;
	padding: 0 4px;
	color: #888;
}
#chatWindow .message.me span { float: right; margin-right: 5px;}
/* >>> CLASSES <<<--------------------------- */
.al { text-align: left;}
.ar { text-align: right;}
.green { color: #6c9c5c;}
.red { color: #9f2c38;}
.landing-button {
	outline: none;
	padding: 20px 0px;
	width: 380px;
	text-align: center;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	border: 0px;
	margin: 15px;
	color: #ddd;
	font-size: 36px;
	transition: color .3s, background .8s;
}
.button {
	outline: none;
	padding: 10px 20px;
	text-align: center;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	border: 0px;
	margin: 15px;
	color: #ddd;
	font-size: 24px;
	transition: color .3s, background .5s;
}
.start { background-color: #6c9c5c; }
.start:hover { background-color: #fff; color: #333; }
.join { background-color: #9f2c38; }
.join:hover { background-color: #fff; color: #333; }
.simple-green { background-color: #6c9c5c;}
.simple-red { background-color: #9f2c38;}
.simple-red:hover, .simple-green:hover {background-color: #333; color: #fff; }

.text {
	outline: none;
	width: 320px;
	padding: 10px;
	font-size: 24px;
	margin: 10px;
	color: #333;
	background-color: #ddd;
	border: 2px solid #bbb;
	transition: border .5s;
}
.text:focus {
	background-color: #fff;
	border-color: #6c9c5c;
}